a:link {
  color: aqua;
}

a:visited {
  color: lightblue;
}

h1 {
  text-align: center;
  font-style: oblique;
}

ul {
  font-size: large;
}

ol {
  font-size: large;
}

body {
  color: white;
  background-color: midnightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}